.starRating {
  position: relative;
  height: 16px;
  width: 85px;
}

.starRatingBack, .starRatingFront {
  position: absolute;
  height: 100%;
}

.starRatingBack {
  background-color: gold;
  width: 0;
}

.starRatingFront {
  background: url(../img/star_16.png) 0 0 repeat-x scroll transparent;
  width: 100%;
}
